body {
  margin: 0;
  background-image: url(/pics/pay-bg.png);
  background-size: 100%;
  filter: blur(50%);
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #FAF1E4; 
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-right: 150px;
}

.navbar {
  display: inline-block;
  padding: 15px 20px;  
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-family: 'Impact', 'Arial Narrow Bold', sans-serif;
  float: left;
  position: relative;
}

.user-pic {
  border-radius: 50%;
  position: absolute;
  margin-left: 87%;
  margin-top: -40px;
  box-shadow: 1px 2px 3px gray;
  
}

a:any-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.navbar:hover {
  background-color: #7E57C2; 
}

.back{
  text-align: center;
  margin-top: 180px;   
}

.box {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border: px solid;
  border-radius: 40px;
  width: 570px;
  height: 330px;
}
h1 {
 text-align: center;
}

.first-input {
  border-radius: 20px;
  height: 35px;
  width: 410px;
  margin-left: 56px;
  box-shadow: 4px 4px 5px gray;
  text-align: center;
  font-size: large;
}

.txt-1 {
  margin-left: 100px;
}

.aligned {
  display: flex;
  margin-left: 70px;
  gap: 20px;
  
}

.champs {
  border: 0px solid;
  border-radius: 20px;
  margin-top: 40px;
  width: 190px;
  height: 39px;
    
}

.titles {
  margin-left: 20px;
  position: absolute;
    
}

.title {
  position: absolute;
  margin-left: 235px;
    
}

.date {
  width:190px;
  height: 35px;
  border-radius: 20px;
  text-align: center;
  font-size: large;
  box-shadow: 4px 4px 5px gray;
}

.password {
  width:150px;
  height: 35px;
  border-radius: 20px;
  margin-left: 20px;
  text-align: center;
  font-size: large;
  box-shadow: 4px 4px 5px gray;
}

.posted {
  border: 0px solid;
  font-size: medium;
  color: white;
  background-color: #7E57C2;
  padding: 10px;
  border-radius: 20px;
  cursor:pointer;
  margin-top: 25px;
  margin-left: 240px;
  
}

.posted:hover {
  background-color: #5E35B1;
}